# Dependencias
node_modules/

# Entorno y Configuración
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilación y Cobertura
dist/
build/
coverage/
.nyc_output/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Configuraciones de Editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?